@{
    ViewData["Title"] = "Join the mailing list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SonOfCodSeafood.Models.MailingList

<h3>Enjoy the Fishy Freshness of our Mailing List</h3>
<h2>Join Now!</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.UserName)
    @Html.EditorFor(model => model.UserName)

    @Html.LabelFor(model => model.UserEmail)
    @Html.EditorFor(model => model.UserEmail)

    <input type="submit" value="Join" class="waves-effect waves-light btn" />
}
