@{
    ViewData["Title"] = "Newsletter - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SonOfCodSeafood.Models.Newsletter

@if (User.Identity.IsAuthenticated)
{
    
}
    <div class="row">
        @Html.DisplayNameFor(model => model.Title)
        @Html.DisplayFor(model => model.Title)
    </div>

   

    @Html.DisplayNameFor(model => model.Body)
    @Html.DisplayFor(model => model.Body)
