@{
    ViewData["Title"] = "Son Of Cod Seafood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Marketing Page</h1>

<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="https://i.cbc.ca/1.1982890.1391950828!/httpImage/image.jpg_gen/derivatives/16x9_1180/cod.jpg" />
                <span class="card-title">Fresh Fish Direct</span>
                <div class="card-content">
                    <p>
                        Fish so fresh its still swimming. Fish so fresh its still swimming. Fish so fresh its still swimming.
                    </p>
                </div>
            </div>
        </div>
    </div> 
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="http://mrfish.uk.com/content/themes/lemonchili-child/images/mrfish_mailing_list_iconx2.png" />
                <span class="card-title">Join our Mailing List</span>
                <div class="card-content">
                    <p>
                        Our mailing list is so Fishing Awesome.
                    </p>
                </div>
                <div class="card-action">
                    <a>@Html.ActionLink("Join Newsletter", "Create", "MailingList")</a>
                </div>
            </div>
        </div>
    </div>       
</div>