@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model IEnumerable<SonOfCodSeafood.Models.Newsletter>

<div class="row">
    <h1>Newsletters</h1>
    @foreach (var newsletter in Model)
    {
        <div class="col s4">
            <ol>
                <li>
                    <h4>@Html.ActionLink(newsletter.Title, "Details", "Newsletter", new { id = newsletter.NewsletterId })</h4>
                </li>
            </ol>
        </div>
    }
</div>

