@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model IEnumerable<SonOfCodSeafood.Models.Newsletter>

<h1>Newsletters</h1>
<div class="row">
    @foreach (var newsletter in Model)
    {

        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="@Url.Content(newsletter.Image)" alt="Image" />
                </div>
                <span class="card-title">@Html.ActionLink(newsletter.Title, "Details", "Newsletter", new { id = newsletter.NewsletterId })</span>
            </div>
        </div>

    }
    </div>


