@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IEnumerable<SonOfCodSeafood.Models.Newsletter>

@foreach (var newsletter in Model)
{
    <h2>@Html.ActionLink(newsletter.Title, "Details", "Newsletter")</h2>
}